/**
 * Job-EZ - Styles Principaux
 * Styles personnalisés pour l'application de quiz
 */

/* ===== CSS Variables - Theme System ===== */

:root {
  /* Couleurs principales (RGB pour rgba()) */
  --color-primary: 59, 130, 246;        /* Bleu primaire */
  --color-secondary: 99, 102, 241;      /* Indigo */
  --color-accent: 168, 85, 247;         /* Violet */

  /* Couleurs de fond */
  --color-bg-dark: 26, 30, 35;          /* Fond sombre */
  --color-bg-darker: 17, 24, 39;        /* Fond très sombre */

  /* Couleurs de feedback */
  --color-success: 34, 197, 94;         /* Vert */
  --color-error: 239, 68, 68;           /* Rouge */
  --color-warning: 251, 191, 36;        /* Jaune */
  --color-info: 59, 130, 246;           /* Bleu info */

  /* Couleurs grises */
  --color-gray-600: 75, 85, 99;
  --color-gray-700: 55, 65, 81;

  /* Bulles - Configuration */
  --bubble-opacity-base: 0.3;
  --bubble-opacity-hover: 0.5;
  --bubble-size-small: 1vw;
  --bubble-size-medium: 5vw;
  --bubble-size-large: 10vw;
  --bubble-duration-fast: 6s;
  --bubble-duration-medium: 9s;
  --bubble-duration-slow: 12s;

  /* Animations */
  --animation-duration-fast: 0.3s;
  --animation-duration-normal: 0.5s;
  --animation-ease: ease-in-out;

  /* Espacements */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* Border radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
}

/* ===== Bubbles Background ===== */

.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
}

.bubble::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-primary), var(--bubble-opacity-base));
  border-radius: inherit;
  animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) var(--animation-ease) alternate infinite;
}

.bubble:hover::before {
  background: rgba(var(--color-primary), var(--bubble-opacity-hover));
}

/* Configuration de chaque bulle */
.bubble:nth-child(1) { --bubble-left-offset: 1vw; --bubble-radius: 4vw; --bubble-float-duration: 10s; --bubble-sway-duration: 4s; --bubble-float-delay: 4s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(2) { --bubble-left-offset: 83vw; --bubble-radius: 4vw; --bubble-float-duration: 12s; --bubble-sway-duration: 6s; --bubble-float-delay: 3s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(3) { --bubble-left-offset: 34vw; --bubble-radius: 2vw; --bubble-float-duration: 8s; --bubble-sway-duration: 5s; --bubble-float-delay: 2s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(4) { --bubble-left-offset: 24vw; --bubble-radius: 2vw; --bubble-float-duration: 8s; --bubble-sway-duration: 5s; --bubble-float-delay: 1s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(5) { --bubble-left-offset: 65vw; --bubble-radius: 10vw; --bubble-float-duration: 8s; --bubble-sway-duration: 5s; --bubble-float-delay: 2s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(6) { --bubble-left-offset: 24vw; --bubble-radius: 6vw; --bubble-float-duration: 7s; --bubble-sway-duration: 6s; --bubble-float-delay: 4s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(7) { --bubble-left-offset: 42vw; --bubble-radius: 4vw; --bubble-float-duration: 7s; --bubble-sway-duration: 6s; --bubble-float-delay: 4s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(8) { --bubble-left-offset: 18vw; --bubble-radius: 5vw; --bubble-float-duration: 7s; --bubble-sway-duration: 5s; --bubble-float-delay: 1s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(9) { --bubble-left-offset: 81vw; --bubble-radius: 5vw; --bubble-float-duration: 6s; --bubble-sway-duration: 4s; --bubble-float-delay: 1s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(10) { --bubble-left-offset: 91vw; --bubble-radius: 9vw; --bubble-float-duration: 11s; --bubble-sway-duration: 6s; --bubble-float-delay: 0s; --bubble-sway-delay: 0s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(11) { --bubble-left-offset: 69vw; --bubble-radius: 1vw; --bubble-float-duration: 11s; --bubble-sway-duration: 5s; --bubble-float-delay: 0s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(12) { --bubble-left-offset: 63vw; --bubble-radius: 6vw; --bubble-float-duration: 12s; --bubble-sway-duration: 6s; --bubble-float-delay: 1s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(13) { --bubble-left-offset: 63vw; --bubble-radius: 4vw; --bubble-float-duration: 7s; --bubble-sway-duration: 4s; --bubble-float-delay: 3s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(14) { --bubble-left-offset: 16vw; --bubble-radius: 4vw; --bubble-float-duration: 8s; --bubble-sway-duration: 6s; --bubble-float-delay: 3s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(15) { --bubble-left-offset: 44vw; --bubble-radius: 3vw; --bubble-float-duration: 12s; --bubble-sway-duration: 4s; --bubble-float-delay: 0s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(16) { --bubble-left-offset: 100vw; --bubble-radius: 3vw; --bubble-float-duration: 11s; --bubble-sway-duration: 6s; --bubble-float-delay: 0s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(17) { --bubble-left-offset: 52vw; --bubble-radius: 10vw; --bubble-float-duration: 8s; --bubble-sway-duration: 4s; --bubble-float-delay: 3s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(18) { --bubble-left-offset: 61vw; --bubble-radius: 10vw; --bubble-float-duration: 7s; --bubble-sway-duration: 6s; --bubble-float-delay: 1s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(19) { --bubble-left-offset: 70vw; --bubble-radius: 10vw; --bubble-float-duration: 10s; --bubble-sway-duration: 5s; --bubble-float-delay: 4s; --bubble-sway-delay: 0s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(20) { --bubble-left-offset: 24vw; --bubble-radius: 4vw; --bubble-float-duration: 10s; --bubble-sway-duration: 6s; --bubble-float-delay: 3s; --bubble-sway-delay: 0s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(21) { --bubble-left-offset: 35vw; --bubble-radius: 6vw; --bubble-float-duration: 12s; --bubble-sway-duration: 4s; --bubble-float-delay: 4s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(22) { --bubble-left-offset: 28vw; --bubble-radius: 1vw; --bubble-float-duration: 7s; --bubble-sway-duration: 5s; --bubble-float-delay: 3s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(23) { --bubble-left-offset: 43vw; --bubble-radius: 6vw; --bubble-float-duration: 9s; --bubble-sway-duration: 5s; --bubble-float-delay: 0s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(24) { --bubble-left-offset: 39vw; --bubble-radius: 7vw; --bubble-float-duration: 12s; --bubble-sway-duration: 5s; --bubble-float-delay: 4s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(25) { --bubble-left-offset: 92vw; --bubble-radius: 2vw; --bubble-float-duration: 11s; --bubble-sway-duration: 5s; --bubble-float-delay: 3s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(26) { --bubble-left-offset: 89vw; --bubble-radius: 10vw; --bubble-float-duration: 12s; --bubble-sway-duration: 5s; --bubble-float-delay: 0s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(27) { --bubble-left-offset: 75vw; --bubble-radius: 1vw; --bubble-float-duration: 8s; --bubble-sway-duration: 6s; --bubble-float-delay: 2s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(28) { --bubble-left-offset: 93vw; --bubble-radius: 7vw; --bubble-float-duration: 7s; --bubble-sway-duration: 6s; --bubble-float-delay: 0s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(29) { --bubble-left-offset: 62vw; --bubble-radius: 2vw; --bubble-float-duration: 8s; --bubble-sway-duration: 5s; --bubble-float-delay: 1s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(30) { --bubble-left-offset: 10vw; --bubble-radius: 10vw; --bubble-float-duration: 6s; --bubble-sway-duration: 4s; --bubble-float-delay: 0s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(31) { --bubble-left-offset: 79vw; --bubble-radius: 2vw; --bubble-float-duration: 9s; --bubble-sway-duration: 6s; --bubble-float-delay: 1s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(32) { --bubble-left-offset: 100vw; --bubble-radius: 3vw; --bubble-float-duration: 10s; --bubble-sway-duration: 5s; --bubble-float-delay: 1s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(33) { --bubble-left-offset: 11vw; --bubble-radius: 8vw; --bubble-float-duration: 6s; --bubble-sway-duration: 6s; --bubble-float-delay: 0s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(34) { --bubble-left-offset: 13vw; --bubble-radius: 1vw; --bubble-float-duration: 6s; --bubble-sway-duration: 6s; --bubble-float-delay: 3s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(35) { --bubble-left-offset: 50vw; --bubble-radius: 1vw; --bubble-float-duration: 6s; --bubble-sway-duration: 5s; --bubble-float-delay: 1s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(36) { --bubble-left-offset: 10vw; --bubble-radius: 5vw; --bubble-float-duration: 6s; --bubble-sway-duration: 5s; --bubble-float-delay: 4s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(37) { --bubble-left-offset: 99vw; --bubble-radius: 10vw; --bubble-float-duration: 9s; --bubble-sway-duration: 6s; --bubble-float-delay: 2s; --bubble-sway-delay: 0s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(38) { --bubble-left-offset: 58vw; --bubble-radius: 10vw; --bubble-float-duration: 10s; --bubble-sway-duration: 5s; --bubble-float-delay: 1s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(39) { --bubble-left-offset: 56vw; --bubble-radius: 1vw; --bubble-float-duration: 7s; --bubble-sway-duration: 6s; --bubble-float-delay: 1s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(40) { --bubble-left-offset: 66vw; --bubble-radius: 2vw; --bubble-float-duration: 10s; --bubble-sway-duration: 5s; --bubble-float-delay: 0s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(41) { --bubble-left-offset: 14vw; --bubble-radius: 8vw; --bubble-float-duration: 12s; --bubble-sway-duration: 6s; --bubble-float-delay: 1s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(42) { --bubble-left-offset: 17vw; --bubble-radius: 6vw; --bubble-float-duration: 12s; --bubble-sway-duration: 5s; --bubble-float-delay: 0s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(43) { --bubble-left-offset: 93vw; --bubble-radius: 3vw; --bubble-float-duration: 12s; --bubble-sway-duration: 4s; --bubble-float-delay: 2s; --bubble-sway-delay: 2s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(44) { --bubble-left-offset: 97vw; --bubble-radius: 3vw; --bubble-float-duration: 10s; --bubble-sway-duration: 5s; --bubble-float-delay: 4s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(45) { --bubble-left-offset: 57vw; --bubble-radius: 10vw; --bubble-float-duration: 7s; --bubble-sway-duration: 5s; --bubble-float-delay: 0s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-left-to-right; }
.bubble:nth-child(46) { --bubble-left-offset: 90vw; --bubble-radius: 10vw; --bubble-float-duration: 8s; --bubble-sway-duration: 6s; --bubble-float-delay: 1s; --bubble-sway-delay: 0s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(47) { --bubble-left-offset: 44vw; --bubble-radius: 7vw; --bubble-float-duration: 7s; --bubble-sway-duration: 4s; --bubble-float-delay: 0s; --bubble-sway-delay: 3s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(48) { --bubble-left-offset: 61vw; --bubble-radius: 7vw; --bubble-float-duration: 10s; --bubble-sway-duration: 4s; --bubble-float-delay: 3s; --bubble-sway-delay: 0s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(49) { --bubble-left-offset: 5vw; --bubble-radius: 2vw; --bubble-float-duration: 12s; --bubble-sway-duration: 6s; --bubble-float-delay: 4s; --bubble-sway-delay: 1s; --bubble-sway-type: sway-right-to-left; }
.bubble:nth-child(50) { --bubble-left-offset: 89vw; --bubble-radius: 4vw; --bubble-float-duration: 10s; --bubble-sway-duration: 6s; --bubble-float-delay: 3s; --bubble-sway-delay: 4s; --bubble-sway-type: sway-left-to-right; }

/* ===== Animations ===== */

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

@keyframes sway-right-to-left {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); }
  20%, 40%, 60%, 80% { transform: translateX(2px); }
}

@keyframes pulse-glow {
  0%, 100% { box-shadow: 0 0 5px rgba(var(--color-primary), 0.5); }
  50% { box-shadow: 0 0 20px rgba(var(--color-primary), 0.8), 0 0 30px rgba(var(--color-primary), 0.4); }
}

@keyframes fadeInModal {
  to { opacity: 1; }
}

@keyframes scaleInModal {
  to { transform: scale(1); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ===== Utilitaires Généraux ===== */

.touch-manipulation {
  touch-action: manipulation;
}

.question-container {
  scroll-behavior: smooth;
}

.pulse-glow {
  animation: pulse-glow 2s var(--animation-ease) infinite;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* ===== Options de Jeu ===== */

.time-option,
.game-mode {
  transition: transform var(--animation-duration-fast) var(--animation-ease);
}

.time-option.selected,
.game-mode.selected {
  background-color: rgb(var(--color-primary)) !important;
  box-shadow: 0 0 0 2px rgba(var(--color-primary), 0.6), 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.time-option:hover,
.game-mode:hover {
  transform: scale(1.05);
}

/* ===== Mode Libre ===== */

.free-mode {
  .answer-btn {
    display: none !important;
  }

  .answer-reveal {
    display: block !important;
  }
}

.answer-reveal {
  display: none;
  margin-top: var(--spacing-sm);
  padding: var(--spacing-sm);
  background: rgba(var(--color-success), 0.1);
  border: 2px solid rgb(var(--color-success));
  border-radius: var(--radius-sm);
  text-align: center;
}

.answer-reveal.correct {
  background: rgba(var(--color-success), 0.1);
  border-color: rgb(var(--color-success));
  color: rgb(var(--color-success));
}

.answer-reveal.incorrect {
  background: rgba(var(--color-error), 0.1);
  border-color: rgb(var(--color-error));
  color: rgb(var(--color-error));
}

/* ===== Modales de Feedback ===== */

.feedback-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeInModal var(--animation-duration-fast) ease-out forwards;
}

.feedback-modal-content {
  background: rgba(30, 41, 59, 0.95);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(148, 163, 184, 0.2);
  border-radius: var(--radius-md);
  padding: var(--spacing-lg);
  max-width: 90vw;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
  animation: scaleInModal var(--animation-duration-fast) ease-out forwards;
}

/* ===== Boutons de Réponse (Mobile) ===== */

.answer-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  transition: all 0.2s var(--animation-ease);
}

.answer-btn:active {
  background-color: rgb(var(--color-gray-600)) !important;
  transform: scale(0.95);
}

.answer-btn:focus {
  outline: none;
}

/* ===== Système de Trophées ===== */

#trophies-screen {
  position: relative;
  z-index: 1;
}

#history-screen {
  position: relative;
  z-index: 1;
}

.trophy-card {
  transition: all var(--animation-duration-fast) var(--animation-ease);
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.trophy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(var(--color-primary), 0.3);
}

.trophy-card.trophy-unlocked {
  animation: pulse-glow 2s var(--animation-ease) infinite;
}

/* Niveaux de Rareté */

.rarity-commun {
  border-color: rgb(var(--color-success));
  background: rgba(var(--color-success), 0.1);
}

.rarity-rare {
  border-color: rgb(var(--color-primary));
  background: rgba(var(--color-primary), 0.1);
}

.rarity-epique {
  border-color: rgb(var(--color-accent));
  background: rgba(var(--color-accent), 0.1);
}

.badge-commun {
  background: rgb(var(--color-success));
  color: white;
}

.badge-rare {
  background: rgb(var(--color-primary));
  color: white;
}

.badge-epique {
  background: rgb(var(--color-accent));
  color: white;
}
/* ===== Unified Button Styles ===== */

.btn-base {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Primary button style */
.btn-primary {
  background-color: rgb(37, 99, 235);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(29, 78, 216);
  transform: translateY(-1px);
}

.btn-primary:active {
  transform: translateY(0);
}

.btn-primary.selected {
  background-color: rgb(29, 78, 216);
  box-shadow: 0 0 0 3px rgb(17, 24, 39), 0 0 0 5px rgb(59, 130, 246);
}

/* Secondary button style */
.btn-secondary {
  background-color: rgb(55, 65, 81);
  color: white;
}

.btn-secondary:hover {
  background-color: rgb(37, 99, 235);
  transform: translateY(-1px);
}

.btn-secondary:active {
  transform: translateY(0);
}

.btn-secondary.selected {
  background-color: rgb(29, 78, 216);
  box-shadow: 0 0 0 3px rgb(17, 24, 39), 0 0 0 5px rgb(59, 130, 246);
}

/* Category filter button with dynamic colors */
.btn-category {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
}

.btn-category.selected {
  box-shadow: 0 0 0 2px rgb(17, 24, 39), 0 0 0 3px currentColor;
}